<div id="page_wrapper">
  <div id="profile_image">
      <%= image_tag "hackathon2.jpeg" %>
  </div>

  <div id="content">
    <h1> Kirk Chu </h1>
    <p> Hoodie dreamcatcher fap, umami cardigan iPhone cronut tousled selvage slow-carb Vice Blue Bottle wayfarers small batch lo-fi. Selvage irony locavore, pop-up Brooklyn hashtag Etsy four loko authentic whatever. Street art you probably haven't heard of them gluten-free vegan. Helvetica Vice Portland vegan. Pitchfork messenger bag scenester, iPhone sartorial hella High Life twee chambray. Polaroid cred migas, DIY banh mi High Life farm-to-table crucifix. Umami banjo cronut, +1 crucifix ethical Vice iPhone aesthetic mustache Pinterest chia VHS.
    </p>
  </div>
</div>
